<header class="hero">
  <div class="container text-center py-5">
    <div class="d-flex justify-content-center align-items-center gap-2 mb-4">
      <a routerLink="/home" class="text-light small text-decoration-none fw-bold">الرئيسية</a>
      <i class="fa-solid fa-angle-left"></i>
      <span class="text-o">سياسة الخصوصية</span>
    </div>

    <!-- أيقونة في النص -->

    <div class="circle-404 mb-4 mx-auto">
      <i class="fa-solid fa-lock"></i>
    </div>

    <!-- العنوان -->
    <h1 class="fw-bold display-5 text-white mb-3">سياسة الخصوصية</h1>

    <!-- البراجراف -->
    <p class="text-secondary w-75 mx-auto">آخر تحديث: 15 يناير 2026</p>
  </div>
</header>
<section class="a py-5">
  <div class="container col-8 text-center">
    <div class="d-flex top-box p-4 mb-5">
      <div class="icon-box">
        <i class="fa-solid fa-shield-halved"></i>
      </div>

      <div class="priv-text text-end me-1">
        <h6 class="fw-bold">خصوصيتك تهمنا</h6>

        <p class="mx-auto">نحن ملتزمون بحماية معلوماتك الشخصية والشفافية بشأن ما نجمعه</p>
      </div>
    </div>
    <div class="my-5">
      <div class="d-flex">
        <div class="section-number">1</div>
        <h5 class="fw-bold m-0 text-white me-2">مقدمة</h5>
      </div>
      <p class="text-light mx-auto my-2 pe-4 text-end">
        مرحباً بك في عدسة. نحن نحترم خصوصيتك وملتزمون بحماية بياناتك الشخصية. ستعلمك سياسة الخصوصية
        هذه بكيفية العناية ببياناتك الشخصية عند زيارة موقعنا وتخبرك عن حقوق الخصوصية الخاصة بك.
      </p>
    </div>
    <div class="my-5">
      <div class="d-flex">
        <div class="section-number">2</div>
        <h5 class="fw-bold m-0 text-white me-2">المعلومات التي نجمعها</h5>
      </div>
      <div class="d-flex my-1 me-5">
        <div class="icon-box mt-2">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <p class="text-light pe-2 my-2 text-end">
          <span class="text-white fw-bold">بيانات الهوية: </span>تشمل الاسم الأول، الاسم الأخير، اسم
          المستخدم أو معرف مشابه.
        </p>
      </div>
      <div class="d-flex my-1 me-5">
        <div class="icon-box mt-2">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <p class="text-light pe-2 my-2 text-end">
          <span class="text-white fw-bold">بيانات الاتصال: </span>تشمل عنوان البريد الإلكتروني.
        </p>
      </div>
      <div class="d-flex my-1 me-5">
        <div class="icon-box mt-2">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <p class="text-light pe-2 my-2 text-end">
          <span class="text-white fw-bold">البيانات التقنية:</span>تشمل عنوان IP، نوع المتصفح،
          المنطقة الزمنية، ونظام التشغيل.
        </p>
      </div>
      <div class="d-flex my-1 me-5">
        <div class="icon-box mt-2">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <p class="text-light pe-2 my-2 text-end">
          <span class="text-white fw-bold">بيانات الاستخدام: </span>تشمل معلومات حول كيفية استخدامك
          لموقعنا وخدماتنا.
        </p>
      </div>
    </div>
    <div class="my-5">
      <div class="d-flex">
        <div class="section-number">3</div>
        <h5 class="fw-bold m-0 text-white me-2">كيف نستخدم معلوماتك</h5>
      </div>
      <div class="d-flex my-1 me-5">
        <div class="icon-box mt-2">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <p class="text-light pe-2 my-2 text-end">لتقديم خدمتنا والحفاظ عليها</p>
      </div>
      <div class="d-flex my-1 me-5">
        <div class="icon-box mt-2">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <p class="text-light pe-2 my-2 text-end">لإخطارك بالتغييرات في خدمتنا</p>
      </div>
      <div class="d-flex my-1 me-5">
        <div class="icon-box mt-2">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <p class="text-light pe-2 my-2 text-end">لتقديم دعم العملاء</p>
      </div>
      <div class="d-flex my-1 me-5">
        <div class="icon-box mt-2">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <p class="text-light pe-2 my-2 text-end">لجمع تحليلات أو معلومات قيمة لتحسين خدمتنا</p>
      </div>
      <div class="d-flex my-1 me-5">
        <div class="icon-box mt-2">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <p class="text-light pe-2 my-2 text-end">لمراقبة استخدام خدمتنا</p>
      </div>
      <div class="d-flex my-1 me-5">
        <div class="icon-box mt-2">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <p class="text-light pe-2 my-2 text-end">لاكتشاف ومنع ومعالجة المشاكل التقنية</p>
      </div>
    </div>
    <div class="my-5">
      <div class="d-flex">
        <div class="section-number">4</div>
        <h5 class="fw-bold m-0 text-white me-2">ملفات تعريف الارتباط</h5>
      </div>
      <p class="text-light mx-auto my-2 pe-4 text-end">
        نستخدم ملفات تعريف الارتباط وتقنيات التتبع المشابهة لتتبع النشاط على موقعنا. يمكنك توجيه
        متصفحك لرفض جميع ملفات تعريف الارتباط أو للإشارة عند إرسال ملف تعريف ارتباط. ومع ذلك، إذا لم
        تقبل ملفات تعريف الارتباط، فقد لا تتمكن من استخدام بعض أجزاء موقعنا.
      </p>
    </div>
    <div class="my-5">
      <div class="d-flex">
        <div class="section-number">5</div>
        <h5 class="fw-bold m-0 text-white me-2">أمان البيانات</h5>
      </div>
      <p class="text-light mx-auto my-2 pe-4 text-end">
        لقد وضعنا تدابير أمنية مناسبة لمنع فقدان بياناتك الشخصية أو استخدامها أو الوصول إليها بشكل
        غير مصرح به عن طريق الخطأ. نحن نحد الوصول إلى بياناتك الشخصية لأولئك الذين لديهم حاجة عملية
        للمعرفة.
      </p>
    </div>
    <div class="my-5">
      <div class="d-flex">
        <div class="section-number">6</div>
        <h5 class="fw-bold m-0 text-white me-2">حقوقك</h5>
      </div>
      <div class="d-flex my-1 me-5">
        <div class="icon-box mt-2">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <p class="text-light pe-2 my-2 text-end">طلب الوصول إلى بياناتك الشخصية</p>
      </div>
      <div class="d-flex my-1 me-5">
        <div class="icon-box mt-2">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <p class="text-light pe-2 my-2 text-end">طلب تصحيح بياناتك الشخصية</p>
      </div>
      <div class="d-flex my-1 me-5">
        <div class="icon-box mt-2">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <p class="text-light pe-2 my-2 text-end">طلب مسح بياناتك الشخصية</p>
      </div>
      <div class="d-flex my-1 me-5">
        <div class="icon-box mt-2">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <p class="text-light pe-2 my-2 text-end">الاعتراض على معالجة بياناتك الشخصية</p>
      </div>
      <div class="d-flex my-1 me-5">
        <div class="icon-box mt-2">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <p class="text-light pe-2 my-2 text-end">طلب تقييد معالجة بياناتك الشخصية</p>
      </div>
      <div class="d-flex my-1 me-5">
        <div class="icon-box mt-2">
          <i class="fa-solid fa-circle-check"></i>
        </div>
        <p class="text-light pe-2 my-2 text-end">الحق في سحب الموافقة</p>
      </div>
    </div>
    <div class="my-5">
      <div class="d-flex">
        <div class="section-number">7</div>
        <h5 class="fw-bold m-0 text-white me-2">تواصل معنا</h5>
      </div>
      <p class="text-light mx-auto my-2 pe-4 text-end">
        إذا كان لديك أي أسئلة حول سياسة الخصوصية هذه، يرجى التواصل معنا:
      </p>
      <div class="contact-email text-end me-4F">
  <a href="mailto:hello@adasah.com" class="email-link">
    <i class="fa-regular fa-envelope"></i>
    <span>hello@adasah.com</span>
  </a>
</div>
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-center">
      <p class="text-white">باستخدام موقعنا، فإنك توافق على سياسة الخصوصية هذه. انظر أيضاً  </p>
      <a routerLink="/terms" class="x text-decoration-none">شروط الخدمة</a>
    </div>
  </div>
</section>
