<header class="hero">
  <div class="container">
    <div class="d-flex justify-content-center py-2 first align-items-center mx-auto rounded-pill">
      <i class="fa-solid fa-circle fa-fade icon1 mx-1"></i>
      <i class="fa-solid fa-circle fa-beat icon2 mx-1"></i>
      <span class="small text-white">مرحباً بك في عدسة</span>
    </div>
    <h1 class="mx-auto fw-bold py-4 text-white display-2 text-center">
      اكتشف <span class="f">فن</span> <br />
      التصوير الفوتوغرافي
    </h1>
    <p class="text-center fs-4 text-light">
      انغمس في أسرار المحترفين ونصائح عملية لتطوير مهاراتك في <br />التصوير.
    </p>
    <div class="text-center">
      <a routerLink="/blog" class="btn text-white gr-bg rounded-pill py-3 px-5 fw-medium ms-2">
        <span class="fs-6 fw-bold mx-1">استكشف المقالات</span>
        <i class="fa-solid small fa-arrow-left text-white"></i>
      </a>
      <a routerLink="/about" class="btn btn-outline-primary text-white rounded-pill py-3 px-5 fw-medium">
        <i class="fa-solid fa-circle-info fs-6 ms"></i>
        <span class="fs-6">اعرف المزيد</span>
      </a>
    </div>
    <div class="row g-3 justify-content-center text-center py-5">
      <div class="col-6 col-md-2">
        <div class="in rounded-4 py-2 shadow-sm">
          <i class="fa-solid fa-newspaper fs-4 mb-2"></i>
          <h6 class="fw-bold f fs-4 mb-1">+50</h6>
          <small class="text-light">مقالة</small>
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="in rounded-4 py-2 shadow-sm">
          <i class="fa-solid fa-users fs-4 mb-2"></i>
          <h6 class="fw-bold f fs-4 mb-1">+10 آلاف</h6>
          <small class="text-light">قارئ</small>
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="in rounded-4 py-2 shadow-sm">
          <i class="fa-solid fa-folder-open fs-4 mb-2"></i>
          <h6 class="fw-bold f fs-4 mb-1">4</h6>
          <small class="text-light">تصنيفات</small>
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="in rounded-4 py-2 shadow-sm">
          <i class="fa-solid fa-pen-nib fs-4 mb-2"></i>
          <h6 class="fw-bold f fs-4 mb-1">6</h6>
          <small class="text-light">كاتب</small>
        </div>
      </div>
    </div>
  </div>
</header>
<app-home-section2></app-home-section2>
<app-home-section3></app-home-section3>
<app-home-section4></app-home-section4>
<app-home-section5></app-home-section5>

