<section class="latest-section py-5 position-relative overflow-hidden">
  <div class="gradient-bg"></div>

  <div class="container position-relative">
    <!-- Header -->
    <div
      class="d-flex flex-column flex-md-row justify-content-between align-items-md-end align-items-start mb-5 gap-3"
    >
      <div>
        <div class="d-flex justify-content-start first align-items-center py-2 rounded-pill">
      <i class="fa-solid fa-circle fa-fade icon1 mx-1"></i>
      <i class="fa-solid fa-circle fa-beat icon2 mx-1"></i>
      <span class="small text-white">الاحداث</span>
    </div>

        <h2 class="section-title display-3 text-white">أحدث المقالات</h2>
        <p class="section-subtitle">محتوى جديد طازج من المطبعة</p>
      </div>

      <a href="/blog" class="view-all d-inline-flex align-items-center gap-2">
        عرض جميع المقالات
        <i class="fa-solid fa-arrow-left"></i>
      </a>
    </div>

    <!-- Cards -->
    <div class="row g-4">

        @for (post of posts.slice(0, 3); track $index) {
          <div class="col-md-6 col-lg-4">
            <app-card [data]="post"></app-card>
          </div>
        }

    </div>

  </div>
</section>
