<header class="hero">
  <div class="container">
    <div class="d-flex justify-content-center py-2 first align-items-center mx-auto rounded-pill">
      <i class="fa-solid fa-circle fa-fade icon1 mx-1"></i>
      <i class="fa-solid fa-newspaper  icon2 mx-1"></i>
      <span class="small fw-bold text-o">مدونتنا</span>
    </div>
    <h1 class="mx-auto fw-bold py-2 text-white display-4 text-center">
      استكشف <span class="f">مقالاتنا</span>
    </h1>
    <p class="text-center fs-5 text-light">
        اكتشف الدروس والرؤى وأفضل الممارسات للتطوير الحديث
    </p>
  </div>
</header>
<app-blog-body></app-blog-body>